@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: #ff00008e solid 2px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(53, 52, 48);
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: rgb(48, 127, 127);
  
}

.scp-list {
  flex-grow: 1; 
  padding: 20px;
  padding-bottom: 5px;
}

.footer {
  background-color: #333; 
  color: white;
  padding: 20px;
}

.common-button {
  background-color: #5116a3;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  
}

.common-button:hover {
  background-color: #271051;
}


